<div>
  <%= link_to department_receipt_path(@department, receipt), class: "link-block" do %>
  <div class="card-body">
    <h4> <%= receipt.owner.firstname %> </h4>
    <h5><%= receipt.description %></h5>
    <p class = "m-0">AUD <%= receipt.amount %></p>
    <p class = "m-0">Date: <%= receipt.date %></p>
  </div>
  <% end %>
</div>
`
