
<% if current_user.department_ids.include? @receipt.department.id %>

  <h1>Department head</h1>

  <h1>Receipt</h1>
  <div class="card">
    <%= render 'components/receipts_card', receipt: @receipt %>

      <%= simple_form_for [@department, @receipt] do |f| %>
      <%= f.submit "Approve", class: "btn btn-large btn-success m-2"%>
      <%= f.submit "Reject", class: "btn btn-large btn-danger m-2" %>
      <% end %>
      <%#= link_to "Approve", department_modify_receipt_path(@receipt, my_action: "approve"), method: :patch, class: "w-100 mr-2 btn btn-lg text-white btn-primary" %>
      <%#= link_to "Decline", department_modify_receipt_path(@receipt, my_action: "decline"), method: :patch, class: "w-100 btn btn-lg btn-outline-dark" %>

    <%= link_to "Edit", edit_department_receipt_path(@department, @receipt), class: "btn btn-primary" %>
  </div>


<% else %>
<h1>Sorry you dont have access</h1>
<% end %>
